body {
    background-color: rgb(250,250,250);
    font-family: sans-serif;

}
.log-in{
    align-items: center;
    text-align: center;
    position: relative;
    left: 50%;
    top: 30px;
    width: 350px;
    min-width: 300px;
    height: 420px;
    background-color: white;
    border: 0.001em solid gray;
    border-radius: 1px;
}
.username {
    position: relative;
    top: 25%;
    font-size: 12px;
    background-color: rgb(250,250,250);
    color: rgb(142,142,142);
    border-style: solid;
    border-color: rgb(142,142,142);
    border-radius: 3px;
    border-width: 0.7px;
    padding-top: 9px;
    padding-left: 8px;
    padding-bottom: 9px;
    text-overflow: ellipsis;
    width: 250px;
    margin-bottom: 5px;
}
.password {
    font-size: 12px;
    background-color: rgb(250,250,250);
    color: rgb(142,142,142);
    border-style: solid;
    border-color: rgb(142,142,142);
    border-radius: 3px;
    border-width: 1px;
    padding-top: 9px;
    padding-left: 8px;
    padding-bottom: 9px;
    text-overflow: ellipsis;
    width: 250px;
}
.log-in-button{
    position: relative;
    top: 54%;
    font-size: 14px;
    font-family: sans-serif;
    border: none;
    border-radius: 6px;
    height: 32px;
    width: 261.6px;
    color: white;
    background-color: #27c4f5;
    margin-top: 9px;
    cursor: pointer;
}
#logo {
    position: relative;
    top: -17.5%;
    cursor: pointer;
}
.or{
    position: absolute;
    left:50%;
    top:70%;
    margin: 0;
}
.line {
    position: relative;
    left: -130%;
    background-color: rgb(219,219,219);
    height: 0.7px;
    width: 100px;
}

.line-2 {
    position: relative;
    left: 30%;
    bottom: 48.5px;
    background-color: rgb(219,219,219);
    height: 1px;
    width: 100px;
}
.or-text {
    width: 29px;
    position: relative;
    left: -15%;
    top: -25px;
    color: rgb(142,142,142);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#phone {
    position: relative;
    left: 23%;
    bottom: 410px;
    height: 600px;
    width: 380px;
}
#facebook {
    position: relative;
    top: 29%;
    color: #385185;
    cursor: pointer;
}
#f-logo{
    height: 16px;
    margin-right: 7px;
    cursor: pointer;
}
#pass-reset {
    font-size: 12px;
    position: relative;
    top: 31%;
    cursor: pointer;
}
.sign-up {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 65%;
    width: 350px;
    border: 0.001em solid gray;
    height: 60px;
    background-color: white;
}
.sign-text {
    padding-top: 8px;
    font-size: 14px;
    font-weight: 100;
}
.sign-t{
    color: #0095F6;
    font-weight: 500;
    cursor: pointer;
}
.download {
    position: absolute;
    left: 50%;
    top: 73%;
    text-align: center;
    width: 350px;
}
#d-img {
    width: 240px;
}
#d-text {
    font-size: 14px;
}
.bottom {
    position: absolute;
    bottom: 5%;
    text-align: center;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}
#bottom-text {
    font-size: 14px;
    color: #8E8E8E;
}
#lang {
    position: absolute;
    top: 130%;
    right: 40%;
}