.main {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-column-gap: 20px;
}

.main-page{
  font-family: Arial;
  font-size: 20px;
  border: 1px rgb(0, 0, 0, 0.08) solid;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.main-page:hover{
  background-color: rgb(200, 200, 200);
}
